@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply cursor-default bg-primary overflow-x-hidden text-white border-black
}
body{
  background-image: url("bgm.jpg");
  background-position: center;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}